@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* THIS FIXES THE DANCING PAGE */
  scrollbar-gutter: stable; 
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: theme('colors.background');
  color: theme('colors.foreground');
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

/* Utilities */
@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}