@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --void: #050505;
  --signal: #FFB000;
}

body {
  background-color: var(--void);
  color: #f0f0f0;
  overflow-x: hidden;
  font-family: var(--font-ibm), monospace;
}

/* Clean, tactical scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--void);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--signal);
}

/* Hide MapLibre UI noise */
.maplibregl-ctrl-attrib { display: none !important; }
.maplibregl-ctrl-logo { filter: grayscale(1) brightness(0.5) !important; opacity: 0.2; }